/* You can add global styles to this file, and also import other style files */

/* .line {
    fill: none;
    stroke: red;
    stroke-width: 2px;
  } */

.gridLine path, .gridLine line{
    fill: none;
    shape-rendering: crispedges;
    stroke: #e4e4e4;
  }
.bar
{
  opacity: 0.6;
  /* border: 1px solid black; */
}

.barChart-tooltip{
  position: absolute;
  color: black;
  text-align: center;
  /* width: 150px; */
  /* height: 15px; */
  /* padding: 8px; */
  /* margin-top: -20px; */
  font: 13px sans-serif;
  background: #fff;
  pointer-events: none;
  border: 1px solid #fdd;
  opacity:0.9;
}
.lineChart-tooltip{
  position: absolute;
  color: black;
  text-align: center;
  /* width: 150px; */
  /* height: 15px; */
  /* padding: 8px; */
  /* margin-top: -20px; */
  font: 13px sans-serif;
  background: #fff;
  pointer-events: none;
  border: 1px solid #fdd;
  opacity:0.9;
}